body{
    background-color: #da626288;
}
.container{
    text-align: center;
}

h2{
    font-size: 34px;
    color: red;
    text-transform: uppercase;
}

img{
    height: 250px;
}
button{
    height: 50px;
    width: 150px;
    cursor: pointer;
    margin: 50px 30px;
    padding: 10px 20px;
}
.btnOn{
    background-color: green;
    border-radius: 50% 0 50% 0;
}
.btnOff{
    background-color: red;
    border-radius: 0% 50% 0% 50%;
}